#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------------------------------------
# Install Homebrew packages
# homebrew/brewfile hash: {{ include "dot_config/homebrew/brewfile.tmpl" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------
export HOMEBREW_CASK_OPTS=--no-quarantine

echo "Running brew bundle"
brew bundle install --file "{{ .chezmoi.homeDir }}/.config/homebrew/brewfile"

echo "Running brew cleanup"
brew cleanup --prune=all

echo "Running brew bundle cleanup"
brew bundle cleanup --no-cleanup-vscode --file "{{ .chezmoi.homeDir }}/.config/homebrew/brewfile" || true

