#!/usr/bin/env bash
# ---------------------------------------------------------------------------------------------------------------------
# Install mise packages
# mise/config.toml.tmpl hash: {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------

mise install -y
