{
  "enabledPlugins": {
    "gopls-lsp@claude-plugins-official": true,
    "superpowers@claude-plugins-official": true,
    "memini@memini": true
  },
  "extraKnownMarketplaces": {
    "memini": {
      "source": {
        "source": "github",
        "repo": "eleboucher/memini"
      }
    }
  },
  "awaySummaryEnabled": false,
  "theme": "auto",
  "tui": "fullscreen",
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "rtk hook claude"
          }
        ]
      }
    ]
  }
}
