{
  "env": {
    "MEMINI_BASE_URL": "https://memini.greyrock.io",
    "MEMINI_MCP_URL": "https://memini.greyrock.io/mcp",
    "MEMINI_API_KEY": "{{ onepasswordRead "op://s6hze6apb3hsj7ne33px4aepje/q6csgxff5wjszns4jnf4qjm33y/api_key" "7PZJXY3IIFEJDHSPIUCD526DC4" }}"
  },
  "enabledPlugins": {
    "gopls-lsp@claude-plugins-official": true,
    "superpowers@claude-plugins-official": true,
    "memini@memini": true
  },
  "extraKnownMarketplaces": {
    "memini": {
      "source": {
        "source": "github",
        "repo": "eleboucher/memini"
      }
    }
  },
  "awaySummaryEnabled": false,
  "theme": "auto",
  "tui": "fullscreen",
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "rtk hook claude"
          }
        ]
      }
    ]
  }
}
