[settings]
experimental = true
disable_hints = ["*"]

always_keep_download = false # deleted after install by default
always_keep_install = false  # deleted on failure by default

idiomatic_version_file_enable_tools = ["node"]

[env]
_.file = [
{{- if not .is_workstation }}
  { path="~/.config/mise/op.env.toml", redact=true},
{{- end }}
  { path="~/.config/mise/secrets.env.toml", redact=true},
]

[tools]
codex = "latest"
fnox = "latest"
go = "latest"
gh = "latest"
node = "latest"
opencode = "latest"
rust = "latest"
uv = "latest"

"aqua:brumhard/krewfile" = "latest"
"github:perfectra1n/fjo" = "latest"
"github:re-verse/rcp" = "latest"
